/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #50a1c1c0;
  padding: 16px 0px;
  font-size: 1.1rem;
  height: 70px;
  z-index: 9999; 
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  right: 10px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  right: 10px;
}

/* Hamburger menü (telefon için) */
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

/* Responsive ayarlar */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background: #4e8fa17a;
    position: absolute;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .menu.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
body {
    margin: 0;
    padding: 0;
  }